@model List<TODO_WebAPI.Models.Client>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/Manage">
                <div class="form-group">
                    <label for="client_id">Client ID</label>
                    <input type="text" class="form-control" id="client_id" placeholder="Client ID or leave empty to auto-generate">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Client Secret</label>
                    <input type="text" class="form-control" id="client_secret" placeholder="Client Secret or leave empty to auto-generate">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Redirect URI</label>
                    <input type="text" class="form-control" id="client_secret" placeholder="Your page callback">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
@if(ViewBag.Errors != null)
{
    <p class="alert-danger">@ViewBag.Errors</p>
    <br />
}
<h2>Manage Tokens <button class="btn btn-info ml-2" data-toggle="modal" data-target="#createModal">Create new</button></h2>
<br />

<table class="table">
    <thead class="thread-dark">
        <tr>
            <th>Client ID</th>
            <th>Client Secret</th>
            <th>Redirect URI</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
        <tr>
            <td>@client.Client_ID</td>
            <td>@client.Client_Secret</td>
            <td>@client.Redirect_URI</td>
        </tr>
        }
    </tbody>
</table>
