@{
    Layout = "~/Views/_Layout.cshtml";
    Page.Title = "Tasks";
}
<div class="modal fade" id="deleteTasks" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Deleting all tasks
            </div>
            <div class="modal-body">
                Are you sure you want to delete all tasks?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-ok text-white" data-dismiss="modal">Of course</button>
            </div>
        </div>
    </div>
</div>

<div class="manage_tasks col-md-9 col-sm-12">
    <div class="row">
        <button type="button" class="btn btn-primary mr-2 mb-3" data-toggle="modal" data-target="#createTask">Create Task</button>
        <button id="export_tasks" download="tasks_data.json" class="btn btn-primary mr-2 mb-3">Export as JSON</button>
        <button id="delete_tasks" class="btn btn-danger mr-2 mb-3" data-toggle="modal" data-target="#deleteTasks">Delete all</button>
        <br />
        <br />
        <div id="upload_div" class="collapse">
            <input id="upload_file" type="file" name="upload_file" />
            <button id="btn_upload_file" class="btn btn-default">Upload</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="tasks_list col-md-12 col-sm-12">
        <table class="table table-bordered table-striped" id="tasks_list">
            <thead class="table-dark">
                <tr>
                    <th width="5%"><center>#</center></th>
                    <th width="60%">Name</th>
                    <th width="15%">Date Added</th>
                    <th width="8%">User</th>
                    <th width="12%">Manage</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <div id="createTask" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createTaskModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTaskModalLabel">Create new task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="task_name" id="task_name" class="form-control" autofocus />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="submit_task">Submit task</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script>

</script>
